body {
  background-color: #EEE;
}

.animation-wrapper {
  background-color: #FFF;
  width: 400px;
  height: 328px;
  margin: 20px auto 0;
  position: relative;
  overflow-x: hidden;
}

// Animación #1

.gray-card {
  background-image: url(../img/other/gray-card-blurry-qr.png);
  width: 213px;
  height: 185px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  -webkit-animation-name: anim_1_gray_card;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-iteration-count: infinite;
}

.orange-phone {
  background-image: url(../img/other/orange-phone.png);
  width: 150px;
  height: 248px;
  position: relative;
  left: -150px;
  z-index: 2;
  top: 0;
  -webkit-animation-name: anim_1_orange_phone;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-iteration-count: infinite;
}

.check {
  background-image: url(../img/check-mod.png);
  background-size: cover;
  width: 82px;
  height: 82px;
  position: absolute;
  top: 33%;
  left: 40%;
  opacity: 0;
  z-index: 4;
  -webkit-animation-name: anim_1_check;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 3s;
}

// Animación #2

.animation-wrapper-2 {
  background-color: #FFF;
  width: 400px;
  height: 288px;
  margin: 20px auto 0;
  position: relative;
  overflow-x: hidden;
}

.orange-phone-2 {
  background-image: url(../img/anim-blurry.png);
  width: 120px;
  height: 198px;
  position: absolute;
  top: 42px;
  left: 2px;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  -webkit-animation-name: anim_2_orange_phone;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-iteration-count: infinite;
}

.gray-phone {
  background-image: url(../img/anim-2-mod-mod.png);
  width: 150px;
  height: 248px;
  z-index: 2;
  position: absolute;
  top: 20px;
  right: -150px;
  -webkit-animation-name: anim_2_gray_phone;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-iteration-count: infinite;
}

.check-2 {
  background-image: url(../img/check-mod.png);
  background-size: cover;
  width: 82px;
  height: 82px;
  position: absolute;
  top: 30%;
  left: 40%;
  opacity: 0;
  z-index: 4;
  -webkit-animation-name: anim_2_check;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
}

// Keyframes Animacion #1

@-webkit-keyframes anim_1_orange_phone {
  0%    { left: -150px; background-image: url(../img/other/orange-phone.png); }
  20%   { left: 126px; top: 0; background-image: url(../img/other/orange-phone.png); }
  35%   { left: 126px; top: 12px; background-image: url(../img/other/orange-phone.png); }
  40%   { left: 126px; top: 12px; background-image: url(../img/other/orange-phone.png); }
  55%   { left: 126px; top: 12px; background-image: url(../img/other/orange-phone-ok-mod.png); }
  75%   { opacity: 1; left: 126px; top: 12px; background-image: url(../img/other/orange-phone-ok-mod.png); }
  100%  { opacity: 0; left: 126px; top: 12px; background-image: url(../img/other/orange-phone-ok-mod.png); }
}

@-webkit-keyframes anim_1_gray_card {
  0%    { opacity: 1; background-image: url(../img/other/gray-card-blurry-qr.png); }
  10%   { opacity: 1; background-image: url(../img/other/gray-card-blurry-qr.png); }
  30%   { opacity: 1; background-image: url(../img/other/gray-card-blurry-qr.png); }
  55%   { opacity: 1; background-image: url(../img/other/gray-card.png) }
  100%  { opacity: 0; }
}

@-webkit-keyframes anim_1_check {
  0%    { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 1; }
  55%   { opacity: 0; }
  100%  { opacity: 0; }
}

// Keyframes Animación #2

@-webkit-keyframes anim_2_gray_phone {
  0%    { right: -150px; background-image: url(../img/anim-2-mod-mod.png);}
  20%   { right: 124px; background-image: url(../img/anim-2-mod-mod.png);}
  30%   { right: 124px; background-image: url(../img/anim-2-mod-mod.png);}
  35%   { right: 124px; background-image: url(../img/anim-ok-mod.png); }
  50%   { opacity: 1; right: 124px; background-image: url(../img/anim-ok-mod.png); }
  75%   { opacity: 0; right: 124px; background-image: url(../img/anim-ok-mod.png); }
  100%  { opacity: 0; right: 124px; background-image: url(../img/anim-ok-mod.png); }
}

@-webkit-keyframes anim_2_orange_phone {
  0%    { background-image: url(../img/anim-blurry.png); }
  20%    { background-image: url(../img/anim-blurry.png); }
  25%   { background-image: url(../img/anim-1.png); }
  50%   { opacity: 1; background-image: url(../img/anim-1.png); }
  60%   { opacity: 0; background-image: url(../img/anim-1.png); }
  100%  { opacity: 0; background-image: url(../img/anim-1.png); }
}

@-webkit-keyframes anim_2_check {
  0%    { opacity: 0; }
  25%   { opacity: 1; }
  50%   { opacity: 1; }
  55%   { opacity: 0; }
  100%  { opacity: 0; }
}