body {
  background-color: #EEE; }

.animation-wrapper {
  background-color: #FFF;
  width: 400px;
  height: 328px;
  margin: 20px auto 0;
  position: relative;
  overflow-x: hidden; }

.animation-wrapper-2 {
  background-color: #FFF;
  width: 400px;
  height: 288px;
  margin: 20px auto 0;
  position: relative;
  overflow-x: hidden; }

.check {
  background-image: url(../img/check.png);
  background-size: cover;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 40%;
  left: 42%;
  opacity: 0;
  -webkit-animation-name: check_appear;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: check_appear;
  animation-duration: 1s;
  animation: check_appear 1s forwards;
  -webkit-animation: check_appear 1s forwards;
  -webkit-animation-delay: 4s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 4s; }

.gray-card {
  background-image: url(../img/other/gray-card-blurry-qr.png);
  width: 213px;
  height: 185px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  -webkit-animation-name: gray_qr, dissappear;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s, 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: gray_qr, dissappear;
  animation-duration: 0.5s, 1s;
  animation: gray_qr 0.5s forwards, dissappear 1s forwards;
  -webkit-animation: gray_qr 0.5s forwards, dissappear 1s forwards;
  -webkit-animation-delay: 2.5s, 4s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 2.5s, 4s; }

.orange-phone {
  background-image: url(../img/other/orange-phone.png);
  width: 150px;
  height: 248px;
  position: relative;
  left: -150px;
  z-index: 2;
  top: 0;
  -webkit-animation-name: left_to_right, focus, orange_scan_ok, dissappear;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s, 1s, 0.5s, 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: left_to_right, focus, orange_scan_ok, dissappear;
  animation-duration: 2s, 1s 0.5s, 1s;
  animation: unblurry 2s forwards, focus 1s forwards, orange_scan_ok 0.5s forwards, dissappear 1s forwards;
  -webkit-animation: left_to_right 2s forwards, focus 1s forwards, orange_scan_ok 0.5s forwards, dissappear 1s forwards;
  -webkit-animation-delay: 0s, 2s, 3s, 4s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 0s, 2s, 3s, 4s; }

.orange-phone-2 {
  background-image: url(../img/anim-blurry.png);
  width: 120px;
  height: 198px;
  position: absolute;
  top: 42px;
  left: 2px;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  -webkit-animation-name: unblurry, dissappear;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s, 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: unblurry, dissappear;
  animation-duration: 0.5s, 1s;
  animation: unblurry 0.5s forwards, dissappear 1s forwards;
  -webkit-animation: unblurry 0.5s forwards, dissappear 1s forwards;
  -webkit-animation-delay: 2s, 4s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 2s, 4s; }

.gray-phone {
  background-image: url(../img/anim-2-mod-mod.png);
  width: 150px;
  height: 248px;
  z-index: 2;
  position: absolute;
  top: 20px;
  right: -150px;
  -webkit-animation-name: right_to_left, scan-ok, dissapear;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s, 1s, 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: right_to_left, scan-ok, dissappear;
  animation-duration: 2s, 1s, 1s;
  animation: right_to_left 2s forwards, scan-ok 1s forwards, dissappear 1s forwards;
  -webkit-animation: right_to_left 2.0s forwards, scan-ok 1.0s forwards, dissappear 1s forwards;
  -webkit-animation-delay: 0s, 2.2s, 4s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 0s, 2.2s, 4s; }

@-webkit-keyframes left_to_right {
  from {
    left: -150px; }
  to {
    left: 126px; } }
@keyframes left_to_right {
  from {
    left: -150px; }
  to {
    left: 126px; } }
@-webkit-keyframes focus {
  from {
    top: 0px; }
  to {
    top: 12px; } }
@keyframes focus {
  from {
    top: 0px; }
  to {
    top: 12px; } }
@-webkit-keyframes orange_scan_ok {
  from {
    background-image: url(../img/other/orange-phone.png); }
  to {
    background-image: url(../img/other/orange-phone-ok-mod.png); } }
@keyframes orange_scan_ok {
  from {
    background-image: url(../img/other/orange-phone.png); }
  to {
    background-image: url(../img/other/orange-phone-ok-mod.png); } }
@-webkit-keyframes gray_qr {
  from {
    background-image: url(../img/other/gray-card-blurry-qr.png); }
  to {
    background-image: url(../img/other/gray-card.png); } }
@keyframes gray_qr {
  from {
    background-image: url(../img/other/gray-card-blurry-qr.png); }
  to {
    background-image: url(../img/other/gray-card.png); } }
@-webkit-keyframes right_to_left {
  from {
    right: -150px; }
  to {
    right: 124px; } }
@keyframes right_to_left {
  from {
    right: -150px; }
  to {
    right: 124px; } }
@-webkit-keyframes unblurry {
  from {
    background-image: url(../img/anim-blurry.png); }
  to {
    background-image: url(../img/anim-1.png); } }
@keyframes unblurry {
  from {
    background-image: url(../img/anim-blurry.png); }
  to {
    background-image: url(../img/anim-1.png); } }
@-webkit-keyframes scan-ok {
  from {
    background-image: url(../img/anim-2-mod-mod.png); }
  to {
    background-image: url(../img/anim-ok-mod.png); } }
@keyframes scan-ok {
  from {
    background-image: url(../img/anim-2-mod-mod.png); }
  to {
    background-image: url(../img/anim-ok-mod.png); } }
@-webkit-keyframes dissappear {
  from {
    background-image: inherit; }
  to {
    background-image: none; } }
@keyframes dissappear {
  from {
    background-image: inherit; }
  to {
    background-image: none; } }
@-webkit-keyframes check_appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes check_appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
